# NativeScript
hooks/
node_modules/
platforms/

# NativeScript cache
.nativescript/
.cache/

# Android build
app/App_Resources/Android/build/
app/App_Resources/Android/.gradle/
*.apk
*.aab

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Windows
Thumbs.db
Desktop.ini

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
